.genie-container {
  position: absolute;
  bottom: 0;
  left: 0;
}

.genie {
  background-image: url("../assets/genie.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  bottom: 8px;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  width: 160px;
  height: 160px;
}

.lamp {
  background: url("../assets/lamp.png") left center;
  position: absolute;
  bottom: 0;
  right: -20px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 40px;
  height: 40px;
}
.expression {
  background: url("../assets/expression_sprite.png") left center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  left: 59px;
  top: 8px;

  /* animation: facechange 3s steps(32); */
  background-position-x: 0px;
  transition: background-position 0.25s ease-in;
  /* animation-iteration-count: infinite; */
}

@keyframes facechange {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: -936px;
  }
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, -15px);
  }
  to {
    transform: translate(0, -0px);
  }
}

.smile {
  background-position-x: 0px;
}
.idle {
  background-position-x: -30px;
}
.openmouth {
  background-position-x: -59px;
}
.frown {
  background-position-x: -88px;
}
.cool {
  background-position-x: -118px;
}
.angel {
  background-position-x: -147px;
}
.eyeclosedsmile {
  background-position-x: -176px;
}
.fowl {
  background-position-x: -203px;
}
.money {
  background-position-x: -259px;
}
.toungeout {
  background-position-x: -289px;
}
.spook {
  background-position-x: -346px;
}
.confused {
  background-position-x: -377px;
}
.worried {
  background-position-x: -408px;
}
.oops {
  background-position-x: -440px;
}
.chill {
  background-position-x: -468px;
}
.frown {
  background-position-x: -497px;
}
.hate {
  background-position-x: -526px;
}
.extrafrown {
  background-position-x: -555px;
}
.who {
  background-position-x: -584px;
}
.drunk {
  background-position-x: -614px;
}
.laugh {
  background-position-x: -644px;
}
.notright {
  background-position-x: -674px;
}
.rage {
  background-position-x: -731px;
}
.love {
  background-position-x: -761px;
}
.amazing {
  background-position-x: -789px;
}
.nah {
  background-position-x: -878px;
}
.closedeyenah {
  background-position-x: -907px;
}
.widesmile {
  background-position-x: -936px;
}
